<form #updateForm="ngForm" (ngSubmit)="editUser(updateForm.value)">
  <div class="mb-3">
    <label for="username" class="form-label">user name</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
      [(ngModel)]="user.username"
      placeholder="Enter your username"
    />
  </div>

  <div class="mb-3">
    <label for="companyname" class="form-label">company name</label>
    <input
      type="text"
      class="form-control"
      id="companyname"
      name="company"
      required
      [(ngModel)]="user.company?.name!"
      placeholder="Enter your company name"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
